main {
  padding: 20px;
}

/* Product grid layout */
.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.product-card {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 10px;
  text-align:left;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-image {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}

/* Product information section */
.product-info {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.left-info {
  flex: 1;
}

.brand {
  font-size: 12px;
  color: #666;
}

.name {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin: 5px 0;
}

.price {
  font-size: 14px;
  color: #007bff;
}

/* Right-side actions */
.right-info {
  text-align: right;
}

.like-btn {
  font-size: 30px;
  color: #666;
  border: none;
  background: none;
  cursor: pointer;
}

.like-btn.liked {
  color: red; /* Change heart color to red when liked */
}

.stock {
  font-size: 12px;
  color: red;
}

/* Responsive design */
/* Tablet: 2 columns per row */
@media (min-width: 768px) and (max-width: 1023px) {
  .product-grid {
    grid-template-columns: repeat(2, 1fr); 
  }
}

/* Mobile: 1 colums per row */
@media (max-width: 767px) {
  .product-grid {
    grid-template-columns: 1fr;
  }
}
